<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Frost-Tune"
    Manufacturer="Bukutsu"
    Version="$(var.Version)"
    UpgradeCode="D8F1A2B3-4C5D-4E6F-9A0B-1C2D3E4F5A6B"
    Language="1033">

    <Package
      Platform="x64"
      InstallerVersion="450"
      Compressed="yes"
      InstallScope="perMachine"
      Description="Native parametric EQ editor for USB DACs" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of Frost-Tune is already installed. Uninstall it before installing this version." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="Frost-Tune" Level="1">
      <ComponentRef Id="MainExe" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Frost-Tune">
          <Component Id="MainExe" Guid="*">
            <File Id="FrostTuneExe"
                  Source="$(var.CargoTargetBinDir)\frost-tune.exe"
                  KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppShortcutFolder" Name="Frost-Tune">
          <Component Id="StartMenuShortcut" Guid="*">
            <Shortcut Id="StartMenuLink"
                      Name="Frost-Tune"
                      Description="Native parametric EQ editor for USB DACs"
                      Target="[INSTALLDIR]frost-tune.exe"
                      WorkingDirectory="INSTALLDIR" />
            <RemoveFolder Id="RemoveAppShortcutFolder" On="uninstall" />
            <RegistryValue Root="HKCU"
                           Key="Software\Bukutsu\FrostTune"
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Product>
</Wix>
